*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: sans-serif;
}

.border{
    border: 1px solid red;
}

.sidebar{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 240px;
    height: 100%;
    padding: 40px 10px 30px 10px;
    border-right: 2px solid #000000;
}