{% extends "layout.html" %}
{% block title %} Adicionar Projeto {% endblock %} 
{% block main %} 

<br />
<br />
<br />
<div class="container">
  <h1>Adicionar Projeto</h1>
    <form
      action="{% url 'add_projeto' %}"
      method="post"
      enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label for="ong" class="form-label">Nome da ONG</label>
            <fieldset disabled>
            <input type="text" class="form-control" id="ong" placeholder="{{ ong }}">
          </div>
          <div class="mb-3">
            <label for="nome_projeto" class="form-label">Nome do Projeto</label>
            <input
              type="text"
              class="form-control"
              id="nome_projeto"
              name="nome_projeto"
              value="{{ nome_projeto }}"
            />
          </div>
          <div class="mb-3">
            <label for="descricao" class="form-label">Descrição</label>
            <input
              type="text"
              class="form-control"
              id="descricao"
              name="descricao"
              value="{{ descricao }}"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="metodologia" class="form-label">Metodologia Utilizada</label>
            <input
              type="text"
              class="form-control"
              id="metodologia"
              name="metodologia"
              value="{{ metodologia }}"
            />
            <div id="metodologia" class="form-text">
              Descreva a Metodologia Utilizada
            </div>
          </div>
          <div class="mb-3">
            <label for="publico" class "form-label">Público Alvo</label>
            <input
              type="text"
              class="form-control"
              id="publico"
              name="publico"
              value="{{ publico }}"
            />
          <div class="mb-3">
            <label for="criacao" class="form-label"
              >Selecione a data de criação do Projeto</label
            >
            <input
              type="date"
              class="form-control"
              id="criacao"
              name="criacao"
              value="{{ criacao }}"
            />
          </div>
        </div>
      </div>
      <p class="text-danger">{{ erros.campos }}</p>
      <div class="d-flex justify-content-end w-100">
        <button type="submit" class="btn btn-primary">Criar Projeto</button>
        <a href="{% url 'home' %}" class="btn btn-danger mx-3">Cancelar</a>
      </div>
    </form>
  </div>

{% if erro %}
<p class="text-danger">{{ erro }}</p>
{% endif %}
{% endblock %}
