{% extends "layout.html" %}
{% block title %} Adicionar Projeto {% endblock %} 

{% block main %} 
<link rel="stylesheet" href="static/style.css"/>

<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .corpo {
        margin-top: 2vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .container {
        width: 100%;
        height: 80vh;
        display: flex;
    }

    .form-image {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    .form-image img {
        width: 31rem;
    }

    .form {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem;
    }

    .form-header {
        margin-bottom: 3rem;
        display: flex;
        justify-content: space-between;
    }

    .form-header h1::after {
        content: '';
        display: block;
        width: 5rem;
        height: 0.3rem;
        background-color: #9b40ff;
        margin: 0 auto;
        position: absolute;
        border-radius: 10px;
    }

    .input-group {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem 0;
    }

    .input-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.1rem;
        margin-right: 6%;
    }

    .input-box input {
        margin: 0.6rem 0;
        padding: 0.8rem 1.2rem;
        width: 15rem;
        border: none;
        border-radius: 10px;
        box-shadow: 1px 1px 6px #0000001c;
        font-size: 0.8rem;
    }

    .input-box input:hover {
        background-color: #eeeeee75;
    }

    .input-box input:focus-visible {
        outline: 1px solid #9b40ff;
    }

    .input-box label,
    .gender-title h6 {
        font-size: 0.75rem;
        font-weight: 600;
        color: #000000c0;
    }

    .gender-group {
        display: flex;
        justify-content: space-between;
    }

    .input-box input::placeholder {
        color: #000000be;
    }

    .continue-button button {
        width: 40%;
        color: #fff;
        border: none;
        background-color: #9b40ff;
        padding: 0.62rem;
        border-radius: 5px;
        cursor: pointer;
        justify-content: flex-end;
    }

    .continue-button button:hover {
        background-color: #791fd8
    }

    .continue-button button a {
        text-decoration: none;
        font-size: 0.93rem;
        font-weight: 500;
        color: #fff;
    }

    @media screen and (max-width: 1330px) {
        .form-image {
            display: none;
        }
        .container {
            width: 50%;
        }
        .form {
            width: 100%;
        }
    }
    
    </style>

<div class="corpo">
    <div class="container">
        <div class="form-image">
            <img src="https://i.imgur.com/ukDKJrY.png" alt="Voluntários">
        </div>
        <div class="form">
          <form
          action="{% url 'add_projeto' %}"
          method="post"
          enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-header">
                <div class="title">
                    <h1>Adicionar Projeto</h1>
                </div>
            </div>

            <div class="input-group">
                <div class="input-box">
                  <label for="ong" class="form-label">Nome da ONG</label>
                  <fieldset disabled>
                  <input type="text" class="form-control" id="ong" placeholder="{{ ong }}">
                </div>

                <div class="input-box">
                  <label for="nome_projeto" class="form-label">Nome do Projeto</label>
                  <input
                    type="text"
                    class="form-control"
                    id="nome_projeto"
                    placeholder="Nome do projeto"
                    name="nome_projeto"
                    value="{{ nome_projeto }}"
                  />
                </div>

                <div class="input-box">
                  <label for="descricao" class="form-label">Descrição</label>
                  <input
                    type="text"
                    class="form-control"
                    id="descricao"
                    placeholder="Descrição do projeto"
                    name="descricao"
                    value="{{ descricao }}"
                  />
                </div>

                <div class="input-box">
                  <label for="metodologia" class="form-label">Descreva a Metodologia Utilizada</label>
                  <input
                    type="text"
                    class="form-control"
                    id="metodologia"
                    placeholder="Metodologia utilizada"
                    name="metodologia"
                    value="{{ metodologia }}"
                  />
                </div>

                <div class="input-box">
                  <label for="publico" class="form-label">Público Alvo</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Ex: Jovens, Idosos..."
                    id="publico"
                    name="publico"
                    value="{{ publico }}"
                  />
                </div>

                <div class="input-box">
                  <label for="criacao" class="form-label"
                  >Selecione a data de criação do Projeto</label>
                  <input
                    type="date"
                    class="form-control"
                    id="criacao"
                    name="criacao"
                    value="{{ criacao }}"
                  />
                </div>

            </div>

            <p class="text-danger">{{ erros.campos }}</p>
            <div class="continue-button">
                <button value="Enviar" id="cadastrar">Adicionar</button>
            </div>
        </form>
    </div>
</div>
    
{% endblock %}