{% extends "layout.html" %}
{% block title %} Baixar Dado {% endblock %}

{% block main %}

<div class="container">
    <form method="post">
        {% csrf_token %}
        <select class="form-select"
        id="dado_impacto"
        name="dado_impacto">
            {%for linha in listdados %}
                <option value="{{linha.index}}">{{linha.nome}}</option>
            {%endfor%}
        </select>
        <input type="submit" class="btn btn-primary" value="Baixar dado">
    </form>
</div>

{% endblock %}