{% extends "layout.html" %}
{% block title %} Cadastrar ONG {% endblock %} 

{% block main %} 
<link rel="stylesheet" href="static/style.css"/>

<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
    
      .corpo {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      .container {
    
        display: flex;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
        border-radius: 10px;
        
      }
    
      .form {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem;
      }
    
      .form-header {
        margin-bottom: 3rem;
        display: flex;
        justify-content: space-between;
      }
    
      .form-header h1::after {
        content: '';
        display: block;
        width: 5rem;
        height: 0.3rem;
        background-color: #9b40ff;
        margin: 0 auto;
        position: absolute;
        border-radius: 10px;
      }
    
      .input-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 1rem 0;
      }
    
      .input-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.1rem;
      }
    
      .input-box input {
        margin: 0.6rem 0;
        border: none;
        border-radius: 10px;
        box-shadow: 1px 1px 6px #0000001c;
        font-size: 0.8rem;
      }
    
      .input-box input:hover {
        background-color: #eeeeee75;
      }
    
    .input-box input:focus-visible {
        outline: 1px solid #9b40ff;
      }
    
      .input-box input::placeholder {
        color: #000000be;
      }
    
      .continue-button button {
        width: 20%;
        height: 45px;
        background-color: #5eecb4;
        border: none;
        outline: none;
        border-radius: 10px;
        box-shadow: 0 0 010px rgba(0, 0, 0, .1);
        cursor: #333;
        font-weight: 600;
        margin-top: 15px;
      }
    
      .continue-button button:hover {
        background-color: #0d8757;
      }
    
      .continue-button button a {
        text-decoration: none;
        font-size: 0.93rem;
        font-weight: 500;
        color: #000000;
      }

      @media screen and (max-width: 1330px) {
        .form-image {
            display: none;
        }
        .container {
            width: 50%;
        }
        .form {
            width: 100%;
        }
      }
    
      @media screen and (max-width: 1064px) {
        .container {
            width: 90%;
            height: auto;
        }
        .input-group {
            flex-direction: column;
            z-index: 5;
            padding-right: 5rem;
            max-height: 10rem;
            overflow-y: scroll;
            flex-wrap: nowrap;
        }
      }
    
      .erros {
        font-size: medium;
        color: red;
      }
    
    </style>

<div class="corpo">
    <div class="form">
        <form method="POST">
            {% csrf_token %}
            <div class="form-header">
                <div class="title">
                    <h1>Cadastrar nova ONG</h1>
                </div>
            </div>

            <div class="input-group">
                <div class="input-box">
                    <label for="nome_ong" class="form-label">Nome da Ong:</label>
                    <input placeholder="Nome da ONG" type="text" id="nome_ong" class="form-control" name="nome_ong" value="{{ nome_ong }}" required>
                </div>

                <div class="input-box">
                    <label for="CNPJ" class="form-label">Informe o seu CNPJ</label>
                    <input
                    placeholder="CNPJ da ONG" 
                      type="text"
                      class="form-control"
                      id="CNPJ"
                      aria-describedby="CNPJ_"
                      name="CNPJ"
                      value="{{ CNPJ }}"
                      required
                    />
                </div>

                <div class="input-box">
                    <label for="criacao" class="form-label"
                    >Selecione a data de criação da Ong</label
                  >
                  <input
                    type="date"
                    class="form-control"
                    id="criacao"
                    name="criacao"
                    value="{{ criacao }}"
                    required
                  />
                </div>

                <div class="input-box">
                    <label for="email_ong" class="form-label">Email:</label>
                    <input placeholder="ex@gmail.com" type="text" id="email_ong" class="form-control" name="email_ong" value="{{ email_ong }}"required >
                </div>

                <div class="input-box">
                    <label for="descricao" class="form-label">Descrição:</label>
                    <input placeholder="Descrição" type="text" id="descricao" class="form-control" name="descricao" value="{{ descricao }}" required>
                </div>

                <div class="input-box" style="margin-left: -5px;">
                   <label for="Área de Atuação:" class="form-label">Área de Atuação:</label>
                    <select name="areaAtuacao" class="form-select" id="areaAtuacao"value="{{ areaAtuacao }}" >
                        <option value="" disabled selected>Categoria</option>
                        {% for area in areaAtuacao %}
                        <option value="{{ area }}"required>{{ area }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="input-box">
                    <label name="CEP" for="CEP" class="form-label" id="CEP" aria-describedby="CEP">CEP:</label>
                    <input placeholder="CEP" type="text" id="CEP" class="form-control" name="CEP" value="{{ CEP }}" required>
                </div>

                <div class="input-box">
                    <label for="numeroDeVoluntarios" class="form-label">Número de Voluntários:</label>
                    <input type="number" id="numeroDeVoluntarios" class="form-control" name="numeroDeVoluntarios" value="{{ numeroDeVoluntarios }}" required>
                </div>

            </div>
            {% if erros %}
            <div class="text-center">
                <p style="color: red;">{{ erros.campos }}</p>
            </div>
            {% endif %}

            <div class="continue-button">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
  </div>
    
{% endblock %}