{% extends "layout.html" %}
{% block title %} Ganhos {% endblock %}

{% block main %} 
    <div class="container">
        <div>
            nome do dado = {{caixa.nome}}
        </div>
        <table class="table">
            <tbody>
            {% for item in caixa.linhas %}
              <tr>
                <th scope="row">1</th>
                <td>{{item.identificacao}}</td>
                <td>{{item.valor}}</td>
                <td>Mes</td>
                <td>Ano</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>/
        {%for item in caixa.linhas%}
        nome das linhas = {{item.identificacao}} valor das linhas {{item.valor}}<br>
        {% endfor %}
        {%for cat in categorias%}
        nome de todas as categorias = {{cat}}<br>
        {% endfor %}
    </div>


{%  endblock %}