{% extends "layout.html" %}
{% block title %} Ganhos {% endblock %}

{% block main %}

<style>
.container{
  display: flex;
}


.table, .categorias {
  flex: 1;
}
</style>

    <div class="container">
      <h1>Ganhos:</h1>
      <a href="{% url 'controle_gastos' dado='Manutenção' %}">Gastos</a>
       <div class="table">
          <table class="table">
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>tantofaz</td>
                  <td>fds</td>
                  <td>Mes</td>
                  <td>Ano</td>
                </tr>
              </tbody>
            </table>
          {%for item in caixa.linhas%}
          nome das linhas = {{item.identificacao}} valor das linhas {{item.valor}}<br>
          {% endfor %}
        </div>
        <div class="categorias">
          <table>
            <tbody>
              {% for cat in categorias %}
              <tr>
                <td><a href="{% url 'controle_ganhos' cat %}">{{ cat }}</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>


{%  endblock %}