{% extends "layout.html" %}
{% block title %} Editar Estilo {% endblock %} 
{% block main %}

<style>
    h1 {
        font-weight: bold;
    }
    
    #estilo {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 2rem;
    height: 2rem;
    border: none;
    cursor: pointer;
    }
    #estilo::-webkit-color-swatch {
    border-radius: 50%;
    border: 3px solid #000000;
    }
    #estilo::-moz-color-swatch {
    border-radius: 50%;
    border: 3px solid #000000;
    }

    .continue-button button {
        width: 6rem;
        margin-top: 1.5rem;
        border: none;
        background-color: #9b40ff;
        padding: 0.62rem;
        border-radius: 5px;
        cursor: pointer;
    }

    .continue-button button:hover {
        background-color: #791fd8
    }

    .continue-button button a {
        text-decoration: none;
        font-size: 0.93rem;
        font-weight: 500;
        color: #fff;
    }
</style>

<div class="container">
    <h1>Editar Estilo</h1>
    <form method="POST" style="margin-top: 5%;">
        {% csrf_token %}
            <div>
                <label>Selecione a cor da barra lateral:</label>
                <input type="color" id="estilo" name="sidecor" value="#FFFFFF">
            </div>
            <div>
                <label>Selecione a cor de fundo:</label>
                <input type="color" id="estilo" name="backcor" value="#f5f7fa">
            </div>
            
            <div class="continue-button">
                <button value="Enviar" style='color: white;'>Alterar</button>
            </div> 
        </div>

    </form>
</div>

{% endblock %}