{% extends "layout.html" %}
{% block title %} Editar projeto {% endblock %} 

{% block main %} 
<link rel="stylesheet" href="static/style.css"/>
<div class="container">
    <div class="text-center">
        <h1>Editar Projeto - {{ projeto.nome_projeto }}</h1>
    </div>
    <form method="post">
        {% csrf_token %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="mb-3">
                <label for="nome_projeto" class="form-label">Nome do Projeto:</label>
                <input type="text" id="nome_projeto" class="form-control" name="nome_projeto" value="{{ projeto.nome_projeto }}">
            </div>
            <div class="mb-3">
                <label for="descricao" class="form-label">Descrição:</label>
                <textarea id="descricao" class="form-control" name="descricao">{{ projeto.descricao }}</textarea>
            </div>
        
        <div class="mb-3">
            <label for="metodologia" class="form-label">Metodologias Utilizadas:</label>
            <input type="text" id="metodologia" class="form-control" name="metodologia" value="{{ projeto.metodologiasUtilizadas }}">
        </div>

        <div class="mb-3">
            <label for="publico" class="form-label">Público-Alvo:</label>
            <input type="text" id="publico" class="form-control" name="publico" value="{{ projeto.publicoAlvo }}">
        </div>

        <div class="mb-3">
            <label for="criacao" class="form-label">Data de Criação:</label>
            <input type="date" id="criacao" class="form-control" name="criacao" value="{{ projeto.dataDeCriacao|date:'Y-m-d' }}">
        </div>
    </div>
    <div class="text-center">
        {% if erros %}
        <p style="color: red;">{{ erros.campos }}</p>
        {% endif %}

    </div>
    <div class="d-flex justify-content-center w-100">
        <input type="submit" class="btn btn-primary" value="Salvar Alterações">
        <a href="{% url 'visualizar_projetos' %}" class="btn btn-danger mx-3">Voltar</a>
    </div>
</div>      
</form>
</div>

    

{% endblock %}