<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta htpp-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link
    rel="icon"
    type="image/x-icon"
    href="Logo"
    />
    
    <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />

    <link rel="stylesheet" href="static/style.css"/>

    <title>Pris.ME {% block title %}{% endblock %}</title>
</head>
<body>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
  ></script>
<nav class="navbar navbar-expand-lg" style="background-color: #00BFFF;">
  <div class="container-fluid">
    <a class="navbar-brand"><img src="https://i.imgur.com/XbZUY01.png" width="40" height="40">    <img src="https://imgur.com/HHZ8V4q.png" width="100" height="35"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">   
      </ul>
      {% if user.is_authenticated %}
      <a class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Sair</a>
      </a>
      {% else %}
      <a class="nav-item">
        <a class="nav-link">Entrar</a>
      </a>
      {% endif %}
    </div>
  </div>
</nav>

<footer class="border-top fixed-bottom text-muted" style="background-color: #00BFFF">
  <div class="container">
    <div class="row py-1">
      <div class="text-center">
        &copy; 2023 - Capibyte Inc. All rights reserved
      </div>
    </div>
  </div>
</footer>

  <aside class="sidebar">
    <header class="sidebar-header">
      <img class="logo-img" scr="https://i.imgur.com/FWUCFTF.jpeg"  alt="Foto da ONG"/>
    </header>

    <nav>
      <button>
        <span>
          <i class="material-symbols-outlined"> person </i>
          <span>Perfil</span>
        </span>
      </button>

      <button>
        <span>
          <i class="material-symbols-outlined"> home </i>
          <span>Home</span>
        </span>
      </button>

      <button>
        <span>
          <i class="material-symbols-outlined"> email </i>
          <span>Caixa</span>
        </span>
      </button>
    <button>
      <span>
        <i class="material-symbols-outlined"> tag </i>
        <span>D.I</span>
      </span>
    </button>
  </nav>

  <main class="main">
    {% block main %} {% endblock %}
  </main>

  </aside>
  <script src="static/script.js"> </script>
  <button class="button-mobile" onclick="toggleMenu()">
    <i class="material-symbols-outlined"> menu </i>
    <span>Menu</span>
  </button>

  <nav class="menu-mobile" id="menu-mobile">
    <button onclick="toggleMenu()">
      <span>
        <i class="material-symbols-outlined"> close </i>
      </span>
    </button>

    <button>
      <span>
        <i class="material-symbols-outlined"> person </i>
        <span class="mobile-text">Perfil</span>
      </span>
    </button>

    <button>
      <span>
        <i class="material-symbols-outlined"> home </i>
        <span class="mobile-text">Home</span>
      </span>
    </button>

    <button>
      <span>
        <i class="material-symbols-outlined"> email </i>
        <span class="mobile-text">Caixa</span>
      </span>
    </button>

    <button>
      <span>
        <i class="material-symbols-outlined"> tag </i>
        <span class="mobile-text">D.I</span>
      </span>
    </button>
  </nav>
</body>
</html>