{% extends "layout.html" %}
{% block title %}  Login {% endblock %} 
{% block main %} 

<div class="container">
  <h1>Login</h1>
        {%if erro %}
        <div class="alert alert-primary" role="alert">
        {{ erro }}
        {% endif %}
</div>
    <form method="post">
        {% csrf_token %}
        <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="email" class="form-label">Usuário:</label>
                <input
                type="text"
                class="form-control"
                name="email"
                required
                />
            </div>
        <div class="mb-3">
            <label for="password" class="form-label">Senha:</label>
            <input
            type="password"
              class="form-control"
              id="password"
              name="senha"
              required
            />
          </div>
        <button type="submit" class="btn btn-primary">Entrar</button>
    </div>
    </form>

{% endblock%}