{% extends "layout.html" %}
{% block title %} Projetos {% endblock %} 

{% block main %} 

<div class="container">
    <div class="text-start">
        <h1>Projetos <a class="btn btn-secondary" style="margin-left: 1%; margin-bottom: 1%; background-color: #9b40ff;" href="{% url 'add_projeto' %}">+</a></h1> 
    </div>

    {% for projeto in projetos %}
    <div style="margin-top: 30px;">
        <h2 id="{{projeto.id}}">{{ projeto.nome_projeto }}
            <a class="btn btn-primary" style="background-color: #9b40ff;" href="{% url 'editar_projeto' projeto.id %}">Editar</a>
            <a class="btn btn-primary" style="background-color: #9b40ff;" href="{% url 'baixar_impacto' projeto.nome_projeto %}">Baixar CSV</a>
        </h2>
        <p>{{ projeto.descricao }} <br> {{ projeto.dataDeCriacao }}</p>
    </div>
    <p class="fw-bold">Dados de impacto:</p>
    
    <table class="table table-no-bg">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col">Editar</th>
            </tr>
        </thead>
        <tbody>
            {% for dado_impacto in projeto.dadosimpactos_set.all %}
            <tr scope="row" class="table-no-bg">
                <td><a href="{% url 'detalhes_dado' dado_impacto.id %}" id="{{dado_impacto.titulo}}">{{ dado_impacto.titulo }}</a></td>
                <td>{{ dado_impacto.descricao }}</td>
                <td>
                    <a class="btn btn-primary" href="{% url 'editar_dado' dado_impacto.id %}">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <a class="btn btn-primary me-md-2" href="{% url 'add_dados' projeto.id %}">Adicionar D.I.</a>
    </div>
    {% endfor %}
</div>

{% endblock %}
