{% extends "layout.html" %}
{% block title %} Voluntariados {% endblock %} 

{% block main %} 

<style>
    table {
        margin-top: 2%;
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 0.5rem;
    }

    th {
        margin-right: 2%;
    }

    td {
        margin-right: 2%;
    }

    h1 {
        font-weight: bold;
    }
</style>

<div class="container">
    <h1>Voluntariado<a class="btn btn-secondary" style='margin-left: 1%; margin-bottom: 1%; background-color:  #9b40ff;' href="{% url 'add_voluntario' %}">+</a></h1> 

    
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data de Nascimento</th>
                <th>Data de Ingresso</th>
                <th>Contato</th>
                <th>Horas</th>
                <th>Gênero</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            {% for voluntario in voluntarios %}
                <tr>
                    <td>{{ voluntario.nome }}</td>
                    <td>{{ voluntario.nascimento }}</td>
                    <td>{{ voluntario.ingresso }}</td>
                    <td>{{ voluntario.contato }}</td>
                    <td>{{ voluntario.horas }}</td>
                    <td>{{ voluntario.genero }}</td>
                    <td>
                        <a class="btn btn-secondary" style="background-color: #9b40ff;" href="{% url 'editar_voluntario' voluntario.id %}">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}